html {
	font-size: 10px;
}
p {
	margin: 0;
}
.App {
	font-size: 1.6rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.game-stats {
	display: flex;
	flex-direction: row;
}
.info-cell {
	border: 1px solid;
	flex-grow: 1;
	padding: 1rem 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 4rem;
  height: 4rem;
  padding: 0;
  display: flex;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}

.medium .cell {
	width: 3rem;
  height: 3rem;
}

.hard .cell {
	width: 2.3rem;
	height: 2.3rem;
}

.covered {
  background-color: darkgrey;
}

.uncovered {
  background-color: lightgrey;
  box-shadow: inset 1px 1px;
}
.mine-found {
  background-color: green;
}
.mine-not-found {
  background-color: red;
}
.wrong-flag {
  position: relative;
}
.wrong-flag::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border: 1px solid red;
  background-color: red;
  transform: rotate(45deg);
}
.wrong-flag::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border: 1px solid red;
  background-color: red;
  transform: rotate(-45deg);
}

.restart-btn {
  cursor: pointer;
  display: flex;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 0;
	line-height: 1rem;
}

/*Tablet*/
@media screen and (min-width: 768px) {
	
}

/*Desktop*/
@media screen and (min-width: 1248px) {
	
}