.App{
	margin: 4rem 7rem;
}
.Grid{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.grid{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
}
.row{
	display: flex;
	flex-direction: row;
}
.cell{
	width: 40px;
	height: 40px;
	padding: 0;
	display: flex;
	border: 1px solid gray;
	background-color: #fff;
	border-radius: 0;
	justify-content: center;
	align-items: center;
}

.covered{
	background-color: darkgrey;
}

.uncovered{
	background-color: lightgrey;
	box-shadow: inset 1px 1px;
}
.mine-found{
	background-color: green;
}
.mine-not-found{
	background-color: red;
}